/*Sidebar navigation*/

/*
.content
{
    margin: 0 auto;
    max-width: 1170px;
}
.mainContent {
    display: flex;
    
}

.collCatalogue
{
    position: absolute;
    max-height: 100vh;
    width: 35vh;
    padding: 40px 30px 30px 60px;
}

.collMain
{
    max-width: 1170;
    margin-left: 35vh;
    border-left: solid black 1px;
    padding-left: 40px;
}

.collCategory 
{
    display: inline-block;
    padding: 40px 15px;
}*/

.navBar a
{
    color:white;
}

a
{
    color: black; 
}

.content {
    display: flex;
    justify-content: center;
}

.contentItems {
    width: 1170px;
    display: flex;
    margin-bottom: 50px;
}

.collCatalogue {
    width: 25%;
    padding: 80px 0;
}

.mainContent{
    width: 75%;
    border-left: 1px solid black;
}

.collMain {
    display: flex;
    justify-content: flex-end;
}

.collCategoryItems{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.collCategory h4
{
    padding-bottom: 10px;
}

.collSubcat li, .collCatalogue li
{
    padding: 10px 0px 0px 10px;
}

.collSubcat li:hover, .collCatalogue li:hover, .breadcrumb:hover
{
    text-decoration: underline;
}

.categoryImg
{
    width: 100%;
}


/*Categories page items*/
#individualCategories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


/*Products page items*/
.products, .categories {
    width: 95%;
}

/*breadcrumb trail styling*/
.breadcrumbTrail {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

#selectedBreadcrumbTrail{
    font-weight: bold;
}

.breadcrumbTrailCart {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    width: 100%;
    max-width: 1170px;
}


#individualProducts{
    width: 100%;
}

.individualProduct {
    position: relative;
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
    border-radius: 0.375rem;
    padding: 10px;
}

.individualProductImg {
    width: 100%;
}

.productItemName {
    font-weight: bold;
    margin: 10px 0;
}

.productItemPrice {
    margin-top: 20px;
    font-weight: bold;
}

.addToCartButton {
    background-color: black;
    color: white;
}

.productPriceAndInteract {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addToCartButton
{
    background-color: var(--darkorange);
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 5px; 
}

/*
.individualProduct:hover .addToCartButton{
    display: block;
    cursor: pointer;
}

.addToCartButton {
    background-color: black;
    color: white;
    display: none;
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    opacity: 1;
}
*/

.productLink:hover{
    text-decoration: underline;
}