.containerCustom
{
    margin: 0 auto;
    width: 1170px;
}

.breadcrumb li{
    display: inline-block;
}

.product
{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap:10px;
}

/* .product .productImg, .productInfo
{
    margin: 1em; 
} */

.productImg
{
    width: 50%;
    height:70%;
}

img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.productImg img
{
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
}

.slides
{
    margin-top: 1em;
    display: flex;
}

.slides li
{
    width: calc(100%/3);
}

.slides li img
{
    transition: opacity 0.5s;
}

.slides li img:hover
{
    opacity: 80%;
}

#image-2
{
    margin-left: 1em;
    margin-right: 1em;
}

/* Info about product on right side*/

.productInfo
{
    width: 50%;
    padding-left: 2em;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
}

.product-price
{
    font-weight: bold;
}

.description
{
    margin-top: 2em;
}

.description ul 
{
    margin-top: -0.5em;
    padding-left: 4em;
    list-style-type: disc !important;
}

.description li
{
    list-style:disc;
}

.description p
{
    margin-bottom: 0.5em;
}

.checkmark
{
    height:50px;
}

.availability
{
    display: flex;
    margin: 2em 0 4em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 2em;
    padding-bottom: 2em;
}

.availability .checkmark
{
    margin-left: 1em;
}

.availabilityInfo
{
    margin-left: 1em;
}

.availabilityInfo span
{
    text-decoration: underline;
}
.purchaseOptions-product
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.quantityBox input {
    align-items: baseline;
    padding: 5px 0 5px 0;
    height: 40px;
    margin: 0;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 70px;
    text-align: center;
}

.quantityBox .plusBtn {
    border: none;
    float: right;
    height: 40px;
    margin-left: 0;
    border-radius: 0 15px 15px 0px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width: 40px;
}

.quantityBox .minusBtn {
    border: none;
    margin-right: 0;
    float: left;
    height: 40px;
    border-radius: 15px 0 0 15px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width: 40px;
}

.buyButtons
{
    display: flex;
    width:70%;
    flex-direction: column;
}

.buyButtons button
{
    border: none;
    border-radius: 5px;
    width: calc(100% - 30px);
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 30px;
    font-weight: bold;
}


.buyButtons .addToCart
{
    margin-bottom: 10px;
    color: var(--black);
    border: 1px solid rgb(95, 95, 95);
    background-color: var(--white);
}

.addToCart:hover
{
    color: var(--darkorange);
    border: 2px solid var(--darkorange);
}

.buyButtons .buyItNow
{
    color: white;
    background-color: var(--darkorange);
}

.purchaseButtons button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
    background-color: var(--blue);
}

.purchaseButtons #addToCart {
    margin-left: 0 !important;
}

#productPrev, #productNext
{
    transform: translateX(0);
    transform: translateY(calc(50%)) !important;
}

hr
{
    color: black;
}

/*breadcrumb trail styling*/
.breadcrumbTrail {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    color: var(--black);
}
.breadcrumbTrail a{
    color: var(--black);
}

#selectedBreadcrumbTrail{
    font-weight: bold;
}