@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*  Universal styling */
*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

:root
{
    --white: #ffffff;
    --black: #111111;
    --gray: #e7e7e7;
    --blue: #00afd7;
    --darkblue: #003e4e;
    --orange: #e45d1d;
    --darkorange: #b03800;
    --neongreen: #c4d600;
    --navyblue: #1e006a;
    --violet: #cc1de3;
    --lightblue: #dfeaf4;
}

.containerCustom 
{
    max-width: 100%;
    margin:0 auto;
    padding: 0 auto;
}

h2, h4 
{
    font-weight: 700;
}

hr
{
    color: var(--white);
}

a 
{
    color: var(--white);
    text-decoration: none; 
}

ul
{
    padding-left: 0;
    list-style-type: none; 
}

li
{
    list-style-type: none;
}

.header li 
{
    display: inline-block;
}

button
{
    transition: filter 0.5s !important;
    font-weight: bold !important;
}

button:hover
{
   filter: brightness(85%);
}

/* Header/navbar */

.navBar 
{
    height: inherit;
    margin: 0 auto;
    background-color: var(--darkblue);
    padding-top:5px;
}

.icon-link {
    display: flex;
    align-items: center;
    padding-top: 5px;
    width: 100px;
}

.icon-link a {
    display: inline-block;
    padding-left: 10px;
}

.material-symbols-outlined{
    font-size: 30px !important;
    color: white;
}

/*ReStore logo*/
.logo img 
{
    max-width: 200px;
}

.navBar .row-1
{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.navBar .logoSearch
{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .navLinks
{
    width: 400px;
    display: block;
    justify-content: end;
}



.navLinkList ul
{
    margin: 0;
    max-width: inherit;
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;
}


.navLinkList img
{
    max-height: 30px;
    margin-left: 10px;
}

.searchBar
{
    margin-left: 50px;
    height: 30px;
    align-items: baseline;
}

.searchBar #searchField
{
    align-items: baseline;
    border-radius: 15px 0 0 15px;
    padding: 5px;
    height: inherit;
    padding-right: 30px;
    margin: 0;
    border:0;
}

.searchBar .btn 
{
    position: absolute;
    height: inherit;
    border-radius: 0 15px 15px 0px;
    border-color: var(--orange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 12px;
}

.navBar .row-2
{
    border-top: 1px solid #00222d;
    padding-top: 15px;
}

.navBar .row-2 ul
{
    margin: 0 auto;
    max-width: 1170px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.row-2 a:hover{
    text-decoration: underline;
}



/* Banner */
.mainBanner  
{
    display: flex;
    justify-content: center;
}

.mainBannerItems
{
    width: 100%;
    background: url("Images/banner.jpg") repeat center;
    filter: brightness(90%);
    margin: 0 auto;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.title
{
    display: flex;
    flex:100%;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
}


.title h1
{
    color: rgb(255, 255, 255);
    z-index: 1;
    font-weight: bold;
    font-size: 72px;
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000;
}

.mainBanner .bannerItems
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    flex:100%;
    align-items: center;
}


.bannerItems .item .btn
{
    height:60px;
    width: 200px;
    border-radius: 15px;
    margin:30px;
    font-size: 24px;
    text-align: center;
    padding: 5px 10px;
}

#shopBtn
{
    background-color: var(--darkorange);
    color: var(--white);
}

#donateBtn
{
    background-color: var(--white);
    color: var(--black);
}

/* Reduced Items Carousel */

.carouselReducedItems
{
    max-width: 1170px;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectionHeading
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

/* .carouselReducedItems h2
{
    margin-bottom: 20px;
} */

.colourBlock
{
    background-color: var(--blue);
    width: 80%;
    height: 5px;
}

.carousel-inner
{
    display: flex;
    padding: 5px;
    padding-left: 0px;
    padding-right: 25px;
}

.carousel-item
{
    display: block;
    flex: 0 0 calc((100%)/4);
    margin-right: 7px;
}

.card
{
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
    transition: transform 0.5s;
}

.card:hover
{
    transform: scale(1.01);
}

.card h5, span
{
    color:black;
}


.img-div
{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-div img
{
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.carousel-item .card
{
    margin: 0px;
}


.carousel-control-prev, .carousel-control-next
{
    top: 35%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #7d7d7d;
}

.carousel-control-prev
{
    transform: translateX(-100px);
}

.carousel-control-next
{
    transform: translateX(100px);
}

/* Gift Card */

.giftCard
{
    margin:0 auto;
    background-color: var(--lightblue);
    padding-bottom: 50px;
    padding-top: 50px;
}

.giftCardItems .item
{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}

.giftCardImg
{
    flex:50%;
    width: 500px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
}

.giftCardImg img
{
    width: inherit;
}

.giftCardInfo
{
    flex:50%;
    padding-right: 15px;
}

.giftCardInfo .description
{
    margin-bottom: 50px;
}

.giftCardSelect
{
    border-radius: 15px;
    background-color: var(--white);
    padding: 5px 15px 5px 15px;
    width:100%;
    margin-bottom: 15px;
}

.quantitySelect
{
    display: flex;
    justify-content: space-between;
}

.price
{
    margin-right: 15px;
}

.chooseQuantityBox
{  
    margin-right: 30px;
}

.chooseQuantityBox input
{
    align-items: baseline;
    padding: 5px 0 5px 0;
    height: 34px;
    margin: 0;
    border: 0;
    width:50px;
    text-align: center;
    border: 1px solid var(--gray);
}

.chooseQuantityBox .plusBtn
{
    border: none;
    float:right;
    height: 34px;
    margin-left: 0;
    border-radius: 0 15px 15px 0px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width:30px;
}

.chooseQuantityBox .minusBtn
{
    border: none;
    margin-right: 0;
    float:left;
    height: 34px;
    border-radius: 15px 0 0 15px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width:30px;
}

.purchaseButtons
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.purchaseButtons button
{
    border:none;
    border-radius: 5px;
    width:100%;
    height:40px;
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
}

#buyButton
{
    background-color: var(--darkorange);
    color:white;
}

.purchaseButtons #addToCart 
{
    margin-left: 0 !important;
    background-color: var(--white);
    border: 1px solid rgb(95, 95, 95);
    transition: border 0.5s;
}

#addToCart:hover
{
    color: var(--darkblue);
    border: 2px solid var(--darkblue);
}


/* Hours and Location */

.hoursLocationsSection
{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hoursLocations
{
    display: flex;
    margin:0 auto;
    max-width: 1170px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.storeName
{
    font-weight: bold;
}

.storeImage
{
    max-width: 300px;
}

.storeImage img
{
    max-width: inherit;
}

.storeInfo li img
{
    max-width: 20px;
}

.stores
{
    flex:70%;
}
.store
{
    display: flex;
}

#trainyards
{
    margin-top: 30px;
}
.store .storeInfo
{
    margin-left: 10px;
}

.hours
{
    background-color: var(--lightblue);
    width: 100%;
    flex:40%;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.openingHoursHeading
{
    width:100%;
    max-height: fit-content;
}

.openingHoursHeading h5
{
    text-align: center;

}

.openingHours
{
    display: flex;
}

.openingHours #hoursList
{
    margin-left: 20px;
}


/* Footer */

footer
{
    background-color: var(--darkblue);
    color: var(--white);
}

footer a
{
    color:white;
}

footer .signUp 
{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .tagline
{
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
}

.signUpBox {
    margin-left: 50px;
    height: 30px;
    align-items: baseline;
}

.signUpBox input {
    align-items: baseline;
    border-radius: 15px 0 0 15px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 30px;
    margin: 0;
    border: 0;
}

.signUpBox .btn {
    position: absolute;
    height: 30px;
    border-radius: 0 15px 15px 0px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 12px;
}

footer .footerInfo 
{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content:baseline;
}

footer .footerInfo ul 
{
    padding:0;
}

footer .footerInfo li 
{
    list-style-type: none;
}

footer .footerInfo div 
{
    margin: 50px;
    margin-right: 100px;
    margin-left: 0;
}

footer .footerInfo img
{
    width: 20px;
}
.ContactUs img
{
    margin-right: 10px;
}

footer .credits
{
    color:var(--white);
}

footer .creditsSocials
{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0;
    padding-bottom: 25px;
    display: flex;
    justify-content:space-between;
}

footer .creditsSocials img
{
    width: 35px;
    margin-left: 10px;
}


/*products styling*/
#individualProducts
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/*cart styling*/
.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    min-height: 100vh;
}

.cartItems {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cartEdit {
    width: 60%;
    height: fit-content;
    border: 1px solid var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding: 10px;
}

.cartItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cartItem img 
{
    aspect-ratio: 1 / 1;
    width: 20%;
    object-fit: cover;
    min-width: 70px;
}

.cartItemDesc {
    width: 100%;
}

.cartItemDescRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cartItemDescRow2 {
    justify-content: flex-end;
    gap: 20px;
}

.cartItemRemove {
    text-decoration: underline;
}

.cartEditInteraction
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.checkOutBtn {
    background: var(--darkorange);
    color: var(--white);
}

.checkOutBtn:hover, .subscribe:active{
    background: var(--darkorange);
    color: var(--white);
}

.cartItemOldPrice {
    text-decoration: line-through;
}

/*Cart overview panel styling*/
.cartOverview {
    width: 30%;
    height: fit-content;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
}

.dateForms
{
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
}

.cartOverviewRowLine{
    display: flex;
    justify-content: space-between;
}

.boldPTag
{
    font-weight: bold;
}

/*checkout styling*/
.checkoutEdit {
    width: 60%;
    height: fit-content;
    border: 1px solid var(--gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.locationSelectItem {
    align-items: center;
    padding: 10px;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Text Input Styling*/
.halfWidth {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.thirdWidth {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Remove the default 1.5em left padding for form-check */
.form-check {
    margin-left: -1.5em;
  }
/* Make radio buttons invisible */
.locationSelect{
    display: none;
  }

.form-check-label:hover {
    background-color: rgb(230, 230, 230);
}

.locationSelect:checked ~ .form-check-label {
    background-color: var(--gray);
}
.form-check-label {
    border: 1px solid var(--gray);
    border-radius: 10px;
}
/*styling the individual location containers*/
.locationSelectItem {
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.right-alignedText {
    text-align: right;
}

.cartHR {
    color: black;
}

.underlineSelect:hover {
    text-decoration: underline;
}

/* Date and Time */

#dateTime h4
{
    flex:100%;
}

.dateForms
{
    display: flex;
    gap:20px;
}

#dateSelect
{
    margin-left: -3px;
}

#timeSelect
{
    height:27.2px;
    width: 80px;
    background-color: white;
    border: 1px solid #9898a1;
    border-radius: 1.5px;
    padding:1px;
}

#timeSelect:hover
{
    border-color: #676774;
}

/* Save and proceed button */

#proceedButtonDiv
{
    display: flex;
    justify-content: end;
}

#proceedButton {
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 0 !important;
    color:white;
    background-color: var(--darkorange);
    border: 1px solid rgb(95, 95, 95);
    transition: border 0.5s;
}


.navBar a
{
    color:white;
}

a
{
    color: black; 
}

.content {
    display: flex;
    justify-content: center;
}

.contentItems {
    width: 1170px;
    display: flex;
    margin-bottom: 50px;
}

.collCatalogue {
    width: 25%;
    padding: 80px 0;
}

.mainContent{
    width: 75%;
    border-left: 1px solid black;
}

.collMain {
    display: flex;
    justify-content: flex-end;
}

.collCategoryItems{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.collCategory h4
{
    padding-bottom: 10px;
}

.collSubcat li, .collCatalogue li
{
    padding: 10px 0px 0px 10px;
}

.collSubcat li:hover, .collCatalogue li:hover, .breadcrumb:hover
{
    text-decoration: underline;
}

.categoryImg
{
    width: 100%;
}


/*Categories page items*/
#individualCategories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


/*Products page items*/
.products, .categories {
    width: 95%;
}

/*breadcrumb trail styling*/
.breadcrumbTrail {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

#selectedBreadcrumbTrail{
    font-weight: bold;
}

.breadcrumbTrailCart {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    width: 100%;
    max-width: 1170px;
}


#individualProducts{
    width: 100%;
}

.individualProduct {
    position: relative;
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
    border-radius: 0.375rem;
    padding: 10px;
}

.individualProductImg {
    width: 100%;
}

.productItemName {
    font-weight: bold;
    margin: 10px 0;
}

.productItemPrice {
    margin-top: 20px;
    font-weight: bold;
}

.addToCartButton {
    background-color: black;
    color: white;
}

.productPriceAndInteract {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addToCartButton
{
    background-color: var(--darkorange);
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 5px; 
}

.productLink:hover{
    text-decoration: underline;
}

.containerCustom
{
    margin: 0 auto;
    width: 1170px;
}

.breadcrumb li{
    display: inline-block;
}

.product
{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap:10px;
}

/* .product .productImg, .productInfo
{
    margin: 1em; 
} */

.productImg
{
    width: 50%;
    height:70%;
}

img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.productImg img
{
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
}

.slides
{
    margin-top: 1em;
    display: flex;
}

.slides li
{
    width: calc(100%/3);
}

.slides li img
{
    transition: opacity 0.5s;
}

.slides li img:hover
{
    opacity: 80%;
}

#image-2
{
    margin-left: 1em;
    margin-right: 1em;
}

/* Info about product on right side*/

.productInfo
{
    width: 50%;
    padding-left: 2em;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
}

.product-price
{
    font-weight: bold;
}

.description
{
    margin-top: 2em;
}

.description ul 
{
    margin-top: -0.5em;
    padding-left: 4em;
    list-style-type: disc !important;
}

.description li
{
    list-style:disc;
}

.description p
{
    margin-bottom: 0.5em;
}

.checkmark
{
    height:50px;
}

.availability
{
    display: flex;
    margin: 2em 0 4em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 2em;
    padding-bottom: 2em;
}

.availability .checkmark
{
    margin-left: 1em;
}

.availabilityInfo
{
    margin-left: 1em;
}

.availabilityInfo span
{
    text-decoration: underline;
}
.purchaseOptions-product
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.quantityBox input {
    align-items: baseline;
    padding: 5px 0 5px 0;
    height: 40px;
    margin: 0;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 70px;
    text-align: center;
}

.quantityBox .plusBtn {
    border: none;
    float: right;
    height: 40px;
    margin-left: 0;
    border-radius: 0 15px 15px 0px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width: 40px;
}

.quantityBox .minusBtn {
    border: none;
    margin-right: 0;
    float: left;
    height: 40px;
    border-radius: 15px 0 0 15px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width: 40px;
}

.buyButtons
{
    display: flex;
    width:70%;
    flex-direction: column;
}

.buyButtons button
{
    border: none;
    border-radius: 5px;
    width: calc(100% - 30px);
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 30px;
    font-weight: bold;
}


.buyButtons .addToCart
{
    margin-bottom: 10px;
    color: var(--black);
    border: 1px solid rgb(95, 95, 95);
    background-color: var(--white);
}

.addToCart:hover
{
    color: var(--darkorange);
    border: 2px solid var(--darkorange);
}

.buyButtons .buyItNow
{
    color: white;
    background-color: var(--darkorange);
}

.purchaseButtons button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
    background-color: var(--blue);
}

.purchaseButtons #addToCart {
    margin-left: 0 !important;
}

#productPrev, #productNext
{
    transform: translateX(0);
    transform: translateY(calc(50%)) !important;
}

hr
{
    color: black;
}

/*breadcrumb trail styling*/
.breadcrumbTrail {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    color: var(--black);
}
.breadcrumbTrail a{
    color: var(--black);
}

#selectedBreadcrumbTrail{
    font-weight: bold;
}

.containerCustom
{
    margin: 0 auto;
    width: 1170px;
}

.breadcrumb li{
    display: inline-block;
}

.product
{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap:10px;
}

/* .product .productImg, .productInfo
{
    margin: 1em; 
} */

.productImg
{
    width: 50%;
    height:70%;
}

img
{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.productImg img
{
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
}

.slides
{
    margin-top: 1em;
    display: flex;
}

.slides li
{
    width: calc(100%/3);
}

.slides li img
{
    transition: opacity 0.5s;
}

.slides li img:hover
{
    opacity: 80%;
}

#image-2
{
    margin-left: 1em;
    margin-right: 1em;
}

/* Info about product on right side*/

.productInfo
{
    width: 50%;
    padding-left: 2em;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    -moz-box-shadow: 1px 3px 5px 0px rgb(182, 182, 182);
    box-shadow: 1px 3px px 0px rgb(182, 182, 182);
}

.product-price
{
    font-weight: bold;
}

.description
{
    margin-top: 2em;
}

.description ul 
{
    margin-top: -0.5em;
    padding-left: 4em;
    list-style-type: disc !important;
}

.description li
{
    list-style:disc;
}

.description p
{
    margin-bottom: 0.5em;
}

.checkmark
{
    height:50px;
}

.availability
{
    display: flex;
    margin: 2em 0 4em 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 2em;
    padding-bottom: 2em;
}

.availability .checkmark
{
    margin-left: 1em;
}

.availabilityInfo
{
    margin-left: 1em;
}

.availabilityInfo span
{
    text-decoration: underline;
}
.purchaseOptions-product
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.quantityBox input {
    align-items: baseline;
    padding: 5px 0 5px 0;
    height: 40px;
    margin: 0;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 70px;
    text-align: center;
}

.quantityBox .plusBtn {
    border: none;
    float: right;
    height: 40px;
    margin-left: 0;
    border-radius: 0 15px 15px 0px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width: 40px;
}

.quantityBox .minusBtn {
    border: none;
    margin-right: 0;
    float: left;
    height: 40px;
    border-radius: 15px 0 0 15px;
    border-color: var(--darkorange);
    color: var(--white);
    background-color: var(--darkorange);
    font-size: 16px;
    width: 40px;
}

.buyButtons
{
    display: flex;
    width:70%;
    flex-direction: column;
}

.buyButtons button
{
    border: none;
    border-radius: 5px;
    width: calc(100% - 30px);
    display: block;
    margin: 0 auto;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 30px;
    font-weight: bold;
}


.buyButtons .addToCart
{
    margin-bottom: 10px;
    color: var(--black);
    border: 1px solid rgb(95, 95, 95);
    background-color: var(--white);
}

.addToCart:hover
{
    color: var(--darkorange);
    border: 2px solid var(--darkorange);
}

.buyButtons .buyItNow
{
    color: white;
    background-color: var(--darkorange);
}

.purchaseButtons button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
    background-color: var(--blue);
}

.purchaseButtons #addToCart {
    margin-left: 0 !important;
}

#productPrev, #productNext
{
    transform: translateX(0);
    transform: translateY(calc(50%)) !important;
}

hr
{
    color: black;
}

/*breadcrumb trail styling*/
.breadcrumbTrail {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    color: var(--black);
}
.breadcrumbTrail a{
    color: var(--black);
}

#selectedBreadcrumbTrail{
    font-weight: bold;
}