/*  Universal styling */
*
{
    box-sizing: border-box;
}


.containerCustom 
{
    max-width: 100%;
    margin:0 auto;
    padding: 0 auto;
}


a 
{
    color: black;
    text-decoration: none;
}

ul
{
    padding-left: 0;
    list-style-type: none;
}

li
{
    list-style-type: none;
}

.header li 
{
    display: inline-block;
}

/* Header/navbar */

.header
{
    position:sticky;
    position: -webkit-sticky;
    top:0;
}

.navBar 
{
    height: inherit;
    margin: 0 auto;
    background-color: grey;
    padding-top:5px;
}

/*ReStore logo*/
.logo img 
{
    max-width: 200px;
}

.navBar .row-1
{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .logoSearch
{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .navLinks
{
    width: 400px;
    display: block;
    justify-content: end;
}

.navLinkList ul
{
    float: right;
    margin: 0;
    max-width: inherit;
}

.navLinkList li
{
    display: inline;
    margin-left: 25px;
}

.searchBar
{
    margin-left: 50px;
    height: 30px;
    align-items: baseline;
}

.searchBar #searchField
{
    align-items: baseline;
    border-radius: 15px 0 0 15px;
    padding: 5px;
    height: inherit;
    padding-right: 30px;
    margin: 0;
    border:0;
}

.searchBar .btn 
{
    position: absolute;
    height: inherit;
    border-radius: 0 15px 15px 0px;
    border-color: aquamarine;
    color: black;
    background-color: aquamarine;
    font-size: 12px;
}


.navBar .row-2 ul
{
    margin: 0 auto;
    max-width: 1170px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}




/* Banner */

.mainBanner 
{
    background-image: url("Images/ditto.jpg");
    margin: 0 auto;
    padding-top: 500px;
    padding-bottom: 100px;
}

.mainBanner .bannerItems
{
    display: flex;
    justify-content: center;
}

.bannerItems .item .btn
{
    height:60px;
    width: 120px;
    border-radius: 15px;
    margin:10px;
    font-size: 24px;
    text-align: center;
    padding: 5px 15px;
    background-color: rgb(85, 85, 85);
    color: white;   
}


/* Reduced Items Carousel */

/* Gift Card */

.giftCard
{
    border: 1px solid black;
    margin:0 auto;
    background-color: aliceblue;
}

.giftCardItems .item
{
    max-width: 1170px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
}

.giftCardImg
{
    flex:50%;
    width: 500px;
    padding: 10px;
}

.giftCardImg img
{
    width: inherit;
}

.giftCardInfo
{
    flex:40%;
}
/* Hours and Location */

.hoursLocations
{
    display: flex;
    margin:0 auto;
    max-width: 1170px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.hoursLocationsSection
{
    max-width: 1170px;
    margin: 0 auto;
}

.hoursLocations .stores, .maps
{
    flex: 50%;
}

.storeImage
{
    max-width: 300px;
}

.storeImage img
{
    max-width: inherit;
}

.storeInfo li img
{
    max-width: 20px;
}

.store
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.store .storeInfo
{
    margin-left: 10px;
}



.maps div
{
   max-width: 600px;
}

.maps img
{
    max-width: inherit;
}


/* Footer */

footer
{
    background-color: grey;
}

footer .signUp 
{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpBox {
    margin-left: 50px;
    height: 30px;
    align-items: baseline;
}

.signUpBox input {
    align-items: baseline;
    border-radius: 15px 0 0 15px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 30px;
    margin: 0;
    border: 0;
}

.signUpBox .btn {
    position: absolute;
    height: 30px;
    border-radius: 0 15px 15px 0px;
    border-color: aquamarine;
    color: black;
    background-color: aquamarine;
    font-size: 12px;
}

footer .footerInfo 
{
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content:baseline;
}

footer .footerInfo ul 
{
    padding:0;
}

footer .footerInfo li 
{
    list-style-type: none;
}

footer .footerInfo div 
{
    margin: 50px;
    margin-right: 100px;
    margin-left: 0;
}

footer .footerInfo img
{
    width: 20px;
}

footer .creditsSocials
{
    margin: 0 auto;
    max-width: 1170px;
    padding: 20px;
    display: flex;
    justify-content:space-between;
}

<<<<<<< Updated upstream
/*Sidebar navigation*/
.collCatalogue
{
    position: absolute;
    max-height: 100vh;
    width: 35vh;
    padding: 40px 30px 30px 60px;
    border-top: solid black 1px;
}

.collMain
{
    margin-left: 35vh;
    border-left: solid black 1px;
    padding-left: 40px;
}

.collCategory 
{
    display: inline-block;
    padding: 40px 15px;
}

.collCategory h4
{
    padding-bottom: 10px;
}

.collSubcat li, .collCatalogue li
{
    padding: 10px 0px 0px 10px;
}

.collSubcat li:hover, .collCatalogue li:hover
{
    text-decoration: underline;
}

.categoryImg
{
    max-width: 400px;
=======
footer .creditsSocials img
{
    width: 35px;
>>>>>>> Stashed changes
}